body{
    background-color: crimson;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.slide-show-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.slide-show-element{
    position: absolute;
    transform: translate(-50%, -50%) scale(0);
    text-align: center;
    transition: transform 0.4s ease-out;
}
.slide-show-element i{
    margin-bottom: 14%;
}
.slide-show-element i, 
.slide-show-element h1{
    color: wheat;
    font-size: 9rem;
}
.slide-show-element.show{
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.4s ease-out;
}